
@{
    ViewData["Title"] = "ŞİFRƏ DƏYİŞİKLİYİ";
}

@model ForgotViewModel
<!-- content -->
<main>
    <div class="register">
        <div class="register-form">
            <div class="row">
                <h6>ŞİFRƏ DƏYİŞİKLİYİ</h6>
            </div>
            <div class="row">
                <div class="form">
                    <div id="change-password-p">
                        <p>Zəhmət olmasa qeydiyyatdan keçdiyiniz e-mail ünvanını daxil edin, biz sizə şifrə dəyişikliyi üçün yeni bir link göndərəcəyik.</p>
                    </div>
                    <form method="post"   asp-action="forgot">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                <label  asp-for="Email">E-mail ünvanı</label>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                <input asp-for="Email" class="form1-input" type="text" id="email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-btn">
                                <button type="submit" style="width: 5.5rem; height: 2.2rem;" class="btn btn-warning">Davam et</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="geri-qayit">
                            <p><i class="fa-solid fa-angle-left"></i><a href="daxilol.html">Geri qayıt</a></p>
                        </div>
                    </div>

                    <hr>

                </div>
            </div>
        </div>
    </div>


</main>

