
@{
    ViewData["Title"] = "Hesabım";
}


<main>
    <div class="hesab-class">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 col-12">
                    @await Html.PartialAsync("_AccountmenuPartial")
                </div>
                <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12">


                </div>
            </div>
        </div>
    </div>
    </div>
</main>

