@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Şifrə Dəyişikliyi";
}

<main>
    <div class="hesab-class">
        <div class="container">
            <div class="row">
                
                <div class="col-xl-10 col-lg-9 col-md-9 col-sm-12 col-12">
                    <div class="melumatlarim">
                        <div class="row">
                            <h1>Şifrəni dəyiş</h1>
                            <div class="container">
                                <hr>
                            </div>
                        </div>
                        <form method="post" asp-action="ChangePassword">
                            <input name="token" asp-for="Token" type="hidden" value="@Model.Token" />
                            <input name="email"asp-for="Email" type="hidden" value="@Model.Email" />

                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                                    <label asp-for="Password" class="form-label">Şifrə</label>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12">
                                    <input asp-for="Password" type="password" placeholder="Şifrə" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">
                                    <label asp-for="ConfirmPassword" class="form-label">Şifrə (təkrar)</label>
                                </div>
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12">
                                    <input asp-for="ConfirmPassword" type="password" placeholder="Şifrə (təkrar)" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <a asp-action="profilemenu" asp-controller="account" type="button" class="btn btn-dark">Geri qayıt</a>
                                    <button type="submit" class="btn btn-outlined">Davam et</button>


                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
