
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="hesab-menu">
    <div class="menu-title">
        <h6>Hesabım</h6>
    </div>
    <div class="menu-list">
        <ul>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="profile">Hesab məlumatları</a></li>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="profile">Şifrəni dəyiş</a></li>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="adress">Ünvanlar</a></li>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="wishlist" asp-controller="product">Arzu siyahısı</a></li>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="orders" asp-controller="account">Sifariş tarixçəsi</a></li>
        </ul>
    </div>
</div>