@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="komekci-menu">
    <div class="menu-title">
        <h6>Köməkçi Menular</h6>
    </div>
    <div class="menu-list">
        <ul>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="aboutus" asp-controller="about">Haqqımızda</a></li>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="service" asp-controller="about">Müştəri xidməti</a></li>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="termin" asp-controller="about">Terminlər</a></li>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="quaranty" asp-controller="about">Zəmanət</a></li>
            <li><i class="fa-solid fa-right-long"></i><a asp-action="mission" asp-controller="about">Missiya</a></li>
        </ul>
    </div>
</div>
