.komekci-class{
    height: 100%;
    margin-bottom: 4rem;
    margin-top: 3rem;
    .row{
    
        margin: 0% auto;
    }
   .col-xl-2{
       padding: 0%;
       margin: 0%;
   }
    .komekci-menu{
        
        position: sticky;
        top: 100px;
        width: 200px;
        height: 280px;
        border: 3px solid #df2027;
        border-radius: 5px;
        background-color: #fff;
        .menu-title{
            display: flex;
            align-items: center;
            height: 2.6rem;
            width: 100%;
            border-bottom: 0.5px solid rgb(206, 204, 204);
            h6{
                margin-top: 0.5rem;
               font-size: 0.92rem;
                margin-left: 1rem;
            }
        }
        .menu-list{
            ul{
                padding: 0%;
                
                li{
                    cursor: pointer;
                    padding: 0%;
                    height: 2.91rem;
                    border-bottom: 1px solid #eee;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    a{
                        text-decoration: none;
                        font-size: 14px;
                        color: #222222;
                    }
                    i{
                        margin-left: 1rem;
                        margin-right: 0.7rem;
                        opacity: 0.7;
                        font-size: 0.6rem;
                    }
                }
                li:hover{
                    background-color: #eee;
                    color: #df2027;
                    a{
                        color: #df2027;
                    }
                }
            }
        }
       
    }
     .text-title{
         text-align: left;
         margin-top: 0.4rem;
           h6{
               margin-left: 1rem;
               font-size: 18px;
               line-height: 1.5385;
               letter-spacing: -.02em;
               font-weight: 600;
               font-family: Arial, sans-serif;
               span{
                   font-size: 16px;
                   font-family: Arial, sans-serif;
                   
               }
           }
        }
        .text{
            padding-left: 1rem;
            p{
            font-size: 16px !important;
            font-weight: 400;
            color: #333 !important;
            line-height: 1.5385;
            padding-left: 1rem;
            }
        }
        .termin-text{
            padding-left: 1.6rem;
            p{
                margin-bottom: 1%;
                font-size: 0.88rem;
                strong{
                
                    margin-top: 0.6rem;
                    margin-bottom: 1rem;
                }
            }
        }
}