//hero-slide
.hero{
    .row{
        padding: 0px 12px;
    }

    .col-xl-2{
       padding: 0%;
        ul{
            width: 100%;
            background: #fff none repeat scroll 0 0;
            border-radius: 0 0 5px 5px;
            position: relative;
            padding: 0%;
            margin: 0%;
            margin-top: -0.7rem;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            li{
                cursor: pointer;
                height: 2.8rem;
                border-bottom: 1px solid #eee;
                a{
                    text-decoration: none;
                    color: #222;
                    font-size: 14px;
                    
                }
                
                display: flex;
                align-items: center;
                i{
                    margin-right: 0.4rem;
                    font-size: 0.55rem;
                    margin-left: 0.5rem;
                    opacity: 0.8;
                }
                list-style: none;
            }
            li:hover{
                background-color: #f5f7fa;
               a{
                color: #df2027;
               }
            }
        }
    }
    height: 100%;
    padding-top: 0.5rem;
    margin-bottom: -1.6rem;
    .item{
        height: 100%;
        overflow: hidden;
        position: relative;
        img{
            object-fit: cover;
            max-height: 350px;
            overflow: hidden;
        }
        
    }
    button{
        transition: ease-in-out 0.4s;
        width: 2.2rem;
        height: 2.2rem;
        display: flex;
        align-items: center;
    }
     button:hover{
         background-color: rgba(219, 200, 26, 0.993) !important;
     }
     span{
        font-size: 1.3rem;
        font-weight:600;
        
        padding-bottom: 1rem;
        color: white;
    }
    .owl-prev{
        left: 0%;
        top: 42%;
        position: absolute;
        background-color: rgba(71,75,87,.72) !important;
        

    }
    .owl-next{
        right: 0%;
        top: 42%;
        position: absolute;
        background-color: rgba(71,75,87,.72) !important;
    }
}

//cards
.cards{
    width: 100%;
    text-align: center;
   .card{
       margin-top: 2rem;
       height: 9rem;
       h5{
           margin-top: 0.5rem;
           font-weight: 600;
           font-family: 'Poppins';
           font-size: 1rem;
       }
    .image{
        width: 100%;
        display: flex;
        justify-content: center;
        .card-image{
        border-radius: 50%;
        }
    }
    .card-image{
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #df2027;
    }
   }
   .card:hover{
    animation-name: animate__bounceOutLeft;
   }
}

.reclam{
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin-bottom: 0.7rem;
    padding-top: 2rem;
    .reclam-image{
        height: 100%;
        position: relative;
            margin: auto;
            overflow: hidden;
            overflow-y: hidden;
        img{
            position: relative;
            transition: ease-in-out 0.3s;
            width: 100%;
            height: 100%;
        }
        img:hover{
            transform: scale(1.1);
        }
    }
   
}

//favorite
.favorite{
    height: 100%;
    padding-top: 1.5rem;
    h6{
        margin-top: -1rem;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: -0.1rem;
        position: relative;
    }
    
  
    .owl-nav{
        position: absolute;
        bottom: 105%;
        font-size: 2rem;
        width: 100%;
        display: flex;
        justify-content: end;
        
     }
     
    .card{
        cursor: pointer;
        margin-bottom: 1rem;
        .favorite-image{
            position: relative;
            margin: auto;
            overflow: hidden;
            overflow-y: hidden;
        }

        img{
            transition: ease-in-out 0.3s;
            position: relative;
        }
        .card-body{
            .kompaniya{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: end;
                img{
                    position: relative;
                    width: 3.66rem;
                    height: 3.3rem;
                }
                .img-txt{
                    margin-top: 0.4rem;
                    text-transform: uppercase;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    color: white;
                    width: 3.6rem;
                    font-size: 0.42rem;
                    position: absolute;

                }
            }
        }
        .credit-tag{
            position: absolute;
            top: 2%;
            right: 2%;
            display: flex;
            align-items: center;
            .price{
                text-transform: uppercase;
                height: 2.4rem;
                width: 2.4rem;
                font-size: 0.6rem;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid #ff0000;
                text-align: center;
                align-content: center;
                background-color: #bbbbbb;
                border-radius: 50%;
                z-index: 99;
            }
            .tag{
                text-transform: uppercase;
                transform: skew(-20deg);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -1.5rem;
                height: 1.8rem;
                width: 6.5rem;
                background-color: #ff0000;
                color: white;
                border-radius: 6px;
                span{
                    transform: skew(20deg);
                }
                span{
                    font-size: 0.7rem;
                    font-weight: 600;
                    margin-left: 1rem;
                }
            }
        }
        i{
            transition: ease-in-out 0.3s;
            height: 2rem;
            width: 2rem;
            background-color: white;
            position: absolute;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 35%;
            right: 3%;
            opacity: 0;
        }
        .favorite-price{
            display: flex;
            position: relative;
            span{
                font-size: 1.1rem;
                font-weight: 600;
            }
            .oldprice{
                color: #df2027;
                text-decoration: line-through;
            }
        }
        
    }
    .card:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .favorite-image img{
            transform: scale(1.15);
        }
        i{
            opacity: 1;
        }
    }
}
//end
.end{
    h1{
        font-size: 1.1rem;
        font-weight: 600;
        color: #333 !important;
        letter-spacing: 0.01rem;
        opacity: 0.95;
    }
    p{
        font-size: 0.88rem;
        color: #333;
        font-weight: 400;
    line-height: 1.5385;
    text-align: left;
        font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
}
.new{
    height: 100%;
    padding-top: 1.5rem;
    h6{
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: -0.4rem;
    }
}
.register{
    height:100%;
    padding-bottom: 1rem;
    background-color: #f9f9f9;
   display: flex;
   justify-content: center;
   .register-form{
       h6{
           padding: 0%;
           margin-top: 2.5rem;
           margin-bottom: 1.4rem;
           font-weight: 500;
           font-size: 18px;
           font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
       }
       width: 60%;
      .form{
          padding-top: 1rem;
          height: 100%;
          padding-bottom: 3rem;
       .col-xl-3{
           display: flex;
           justify-content: end;
           label{
               margin-top: 1.1rem;
               span{
                   margin-left: 0.2rem;
                   color: red;
               }
           }
       }
       .col-xl-9{
           display: flex;
           justify-content: start;
           input{
               border: 1px solid #e7e9f0;
               outline: none;
               height: 2.2rem;
               margin-top: 1rem;
               width: 70%;
           }
           input::placeholder{
               padding-left: 0.5rem;
               font-size: 0.9rem;
           }
       }
       .form-btn{
           display: flex;
           justify-content: center;
           padding-bottom: 0.3rem;
           button{
               margin-top: 1rem;
               font-weight: 500 !important;
               font-size: 0.9rem;
               border: transparent;
               outline: none;
           }
           button:hover{
               background-color: black !important;
               color: white;
           }
       }
       .form-forgot{
           a{
               margin-top: 0.8rem;
               margin-bottom: 0.3rem;
               transition: ease-in-out 0.1s;
               font-size: 14px;
               text-decoration: none;
               color: #000;
               font-weight: 500;
               font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
           }
           a:hover{
               color: #ff0000;
           }
       }
       .form-question{
           p{
               font-size: 0.85rem;
               font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
           a{
               margin-left: 0.3rem;
               text-decoration: none;
               font-weight: 500;
               font-size: 0.91rem;
               color: #000;
               font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
           }
            }
       }
        background-color: white;
      }
   }
}