// Extra small devices (portrait phones, less than 576px)


// Small devices (landscape phones, less than 768px)


// Medium devices (tablets, less than 992px)


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .register-form{
        width: 70% !important;
    }
    #headtop{
        display: none;
    }
    .header-bottom{
        #menu{
            display: none;
        }
        .search{
            display: flex;
            justify-content: start;
        }
        .right{
            display: flex;
            justify-content: end;
            .sebet{
                margin-right: 1.4rem;
            }
        }
    }
 }
 @media (max-width: 991.98px) { 

    .komekci-menu{
        display: none;
 }
 .header-bottom{
     display: none;
 }
   
   
  }

  @media (max-width: 767.98px) { 
    .register-form{
        width: 90% !important;

        .form{
            
            .col-xl-3{
                display: flex;
                justify-content: start !important;
                left: 0%;
                
            }
            .col-xl-9{
                .form1-input{
                    width: 100% !important;
                    height: 2.8rem !important;
                }
            }
        }
        
    }

  html{
      font-size: 14px;
  }
 }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
@media (max-width: 575.98px) { 
    .register-form{
        width: 90% !important;
    }

   
 }
 