
@{
    ViewData["Title"] = "Sifarişi rəsmiləşdirmə";
}
@model List<CheckOutViewModel>
<main>
    <div class="container">
        <div class="row">
            <div style="min-height:300px" class="sifaris">
                <div class="row">
                    <div id="merhele-sebet" class="col-xl-6 col-lg-6">
                        <div class="merhele">
                            <a asp-action="basket" asp-controller="order">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <h6>Səbətim</h6>
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="merhele">
                            <a asp-action="checkout" asp-controller="order">
                                <i class="fa-solid fa-circle-check"></i>
                                <h6>Ünvan və Sifarişin təsdiqi</h6>
                            </a>
                        </div>
                    </div>
                </div>
                @if (Model.Count > 0 && Model != null)
                {
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                         
                            <form method="post">
                                <div class="mb-3">
                                    <label asp-for="First().Name" class="form-label">Ad</label>
                                    <input asp-for="First().Name" class="form-control">
                                    <span asp-validation-for="First().Name"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="First().Surname" class="form-label">Soyad</label>
                                    <input asp-for="First().Surname" class="form-control">
                                    <span asp-validation-for="First().Surname"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="First().Adress" class="form-label">Ünvan</label>
                                    <input asp-for="First().Adress" class="form-control">
                                    <span asp-validation-for="First().Adress"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="First().Phone" class="form-label">Telefon</label>
                                    <input asp-for="First().Phone" class="form-control">
                                    <span asp-validation-for="First().Phone"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="First().Email" class="form-label">Email</label>
                                    <input asp-for="First().Email" class="form-control">
                                    <span asp-validation-for="First().Email"></span>
                                </div>
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="row">
                                    <button type="submit" style="width: 7rem;margin-bottom: 1rem;" class="btn btn-warning">Davam et</button>
                                </div>
                            </form>
                          
                          


                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Məhsulun adı</th>
                                        <th scope="col">Model</th>
                                        <th scope="col">Sayı</th>
                                        <th scope="col">Məbləği</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        decimal total = (item.Price - (item.Price * item.Discount) / 100) * item.Count;
                                        <tr>
                                            <td>@item.ProductName</td>
                                            <td>@item.Category</td>
                                            <td>@item.Count</td>
                                            <td>@total.ToString("#.##")₼</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</main>

