
@{
    ViewData["Title"] = "Sifarişi rəsmiləşdirmə";
}
<main>
    <div class="container">
        <div class="row">
            <div class="sifaris">
                <div class="row">
                    <div id="merhele-sebet" class="col-xl-6 col-lg-6">
                        <div class="merhele">
                            <a href="sebet.html">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <h6>Səbətim</h6>
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="merhele">
                            <a href="sifarisi-tamamla.html">
                                <i class="fa-solid fa-circle-check"></i>
                                <h6>Ünvan və Sifarişin təsdiqi</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Unvan</th>
                                <th scope="col">Məhsulun adı</th>
                                <th scope="col">Model</th>
                                <th scope="col">Sayı</th>
                                <th scope="col">Məbləği</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Xezer rayonu</td>
                                <th scope="row">Lugano yataq dəsti</th>
                                <td>Lugano yataq dəsti</td>
                                <td>1</td>
                                <td>1,746 ₼</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <a style="width: 7rem;margin-bottom: 1rem;" class="btn btn-warning">Davam et</a>
                </div>
            </div>
        </div>
    </div>
</main>

