@media (max-width: 1199.98px) {
  .register-form {
    width: 70% !important;
  }
  #headtop {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .hesab-icons h6 {
    display: none;
  }
  .header-bottom .col-xl-4 {
    display: none;
  }
  #user-icon {
    display: inline-block;
  }
  .cataloq {
    background-color: #df2027 !important;
  }
  .kataloq {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .register-form {
    width: 90% !important;
  }
  .register-form .form .col-xl-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    left: 0%;
  }
  .register-form .form .col-xl-9 input {
    width: 100% !important;
    height: 2.8rem !important;
  }
  html {
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .register-form {
    width: 90% !important;
  }
}

* {
  font-family: 'Poppins', sans-serif;
  src: url(../font/Poppins-SemiBold.ttf);
  text-decoration: none;
}

* .container {
  width: 85%;
}

.header-top {
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.8rem;
}

.header-top .logo img {
  width: 7.3rem;
}

.header-top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top i {
  font-size: 1.1rem;
}

.header-top .call {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .call span {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.header-top .header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-top .header-icons a {
  text-decoration: none;
}

.header-top .header-icons i {
  font-size: 1.1rem;
  margin-left: 1.66rem;
}

.header-top .header-icons i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-top .header-icons img {
  margin-top: -0.3rem;
  width: 1.2rem;
  margin-left: 1.5rem;
}

.header-top .header-icons .fa-caret-down {
  font-size: 0.9rem;
  color: black;
}

.navbar-class {
  top: 0%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header-bottom {
  height: 3.2rem;
  background-color: #df2027;
}

.header-bottom .container .row {
  padding: 0px 12px;
}

.header-bottom .cataloq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  background-color: white;
}

.header-bottom .cataloq span {
  margin-left: -0.3rem;
}

.header-bottom .col-xl-4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -3.7rem;
}

.header-bottom .col-xl-4 ul li {
  margin-left: 2rem;
  list-style: none;
}

.header-bottom .col-xl-4 ul li a {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.header-bottom .col-xl-4 ul li a:hover {
  color: black;
}

.header-bottom .hesab-icons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .hesab-icons .dropdown {
  z-index: 99;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header-bottom .hesab-icons .dropdown .fa-user {
  color: white;
  cursor: pointer;
  display: none;
}

.header-bottom .hesab-icons .dropdown h6 {
  cursor: pointer;
  margin-top: 4%;
  color: white;
  font-size: 0.9rem;
  position: relative;
}

.header-bottom .hesab-icons .dropdown h6 i {
  margin-top: 0.1rem;
  margin-left: 0.3rem;
  position: absolute;
}

.header-bottom .hesab-icons .dropdown .dropdown-menu1 {
  height: 4.4rem;
  width: 9rem;
  position: absolute;
  left: -100%;
  top: 100%;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.header-bottom .hesab-icons .dropdown .dropdown-menu1 ul {
  padding-left: 0%;
}

.header-bottom .hesab-icons .dropdown .dropdown-menu1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.2rem;
  cursor: pointer;
  list-style: none;
}

.header-bottom .hesab-icons .dropdown .dropdown-menu1 ul li a {
  margin-left: 10%;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
}

.header-bottom .hesab-icons .dropdown .dropdown-menu1 ul li:hover {
  background-color: #e6e6e6;
}

.header-bottom .hesab-icons .dropdown .dropdown-menu1 ul li:hover a {
  color: red;
}

.header-bottom .hesab-icons .fa-heart {
  color: white;
  font-size: 1.3rem;
  margin-left: 2rem;
}

.header-bottom .hesab-icons .shop-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-bottom .hesab-icons .shop-icon img {
  position: relative;
}

.header-bottom .hesab-icons span {
  position: absolute;
  height: 1.1rem;
  width: 1.1rem;
  font-size: 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  top: 20%;
  right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom .menu-class {
  display: none;
}

.header-bottom .search {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom .search input {
  width: 22rem;
  height: 2.3rem;
}

.header-bottom .search input::-webkit-input-placeholder {
  font-size: 0.8rem;
}

.header-bottom .search input:-ms-input-placeholder {
  font-size: 0.8rem;
}

.header-bottom .search input::-ms-input-placeholder {
  font-size: 0.8rem;
}

.header-bottom .search input::placeholder {
  font-size: 0.8rem;
}

.header-bottom .search .fa-magnifying-glass {
  cursor: pointer;
  background-color: white;
  width: 3rem;
  height: 2.3rem;
  margin-left: -0.3rem;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom .search .fa-magnifying-glass:hover {
  background-color: #eeeeee;
}

.hero {
  height: 100%;
  padding-top: 0.5rem;
  margin-bottom: -1.6rem;
}

.hero .row {
  padding: 0px 12px;
}

.hero .col-xl-2 {
  padding: 0%;
}

.hero .col-xl-2 ul {
  width: 100%;
  background: #fff none repeat scroll 0 0;
  border-radius: 0 0 5px 5px;
  position: relative;
  padding: 0%;
  margin: 0%;
  margin-top: -0.7rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.hero .col-xl-2 ul li {
  cursor: pointer;
  height: 2.8rem;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.hero .col-xl-2 ul li a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.hero .col-xl-2 ul li i {
  margin-right: 0.4rem;
  font-size: 0.55rem;
  margin-left: 0.5rem;
  opacity: 0.8;
}

.hero .col-xl-2 ul li:hover {
  background-color: #f5f7fa;
}

.hero .col-xl-2 ul li:hover a {
  color: #df2027;
}

.hero .item {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hero .item img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 350px;
  overflow: hidden;
}

.hero button {
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  width: 2.2rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero button:hover {
  background-color: rgba(219, 200, 26, 0.993) !important;
}

.hero span {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 1rem;
  color: white;
}

.hero .owl-prev {
  left: 0%;
  top: 42%;
  position: absolute;
  background-color: rgba(71, 75, 87, 0.72) !important;
}

.hero .owl-next {
  right: 0%;
  top: 42%;
  position: absolute;
  background-color: rgba(71, 75, 87, 0.72) !important;
}

.cards {
  width: 100%;
  text-align: center;
}

.cards .card {
  margin-top: 2rem;
  height: 9rem;
}

.cards .card h5 {
  margin-top: 0.5rem;
  font-weight: 600;
  font-family: 'Poppins';
  font-size: 1rem;
}

.cards .card .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .card .image .card-image {
  border-radius: 50%;
}

.cards .card .card-image {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #df2027;
}

.cards .card:hover {
  -webkit-animation-name: animate__bounceOutLeft;
          animation-name: animate__bounceOutLeft;
}

.reclam {
  cursor: pointer;
  height: 100%;
  width: 100%;
  margin-bottom: 0.7rem;
  padding-top: 2rem;
}

.reclam .reclam-image {
  height: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  overflow-y: hidden;
}

.reclam .reclam-image img {
  position: relative;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  width: 100%;
  height: 100%;
}

.reclam .reclam-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.favorite {
  height: 100%;
  padding-top: 1.5rem;
}

.favorite h6 {
  margin-top: -1rem;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: -0.1rem;
  position: relative;
}

.favorite .owl-nav {
  position: absolute;
  bottom: 105%;
  font-size: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.favorite .card {
  cursor: pointer;
  margin-bottom: 1rem;
}

.favorite .card .favorite-image {
  position: relative;
  margin: auto;
  overflow: hidden;
  overflow-y: hidden;
}

.favorite .card img {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  position: relative;
}

.favorite .card .card-body .kompaniya {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.favorite .card .card-body .kompaniya img {
  position: relative;
  width: 3.66rem;
  height: 3.3rem;
}

.favorite .card .card-body .kompaniya .img-txt {
  margin-top: 0.4rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 3.6rem;
  font-size: 0.42rem;
  position: absolute;
}

.favorite .card .credit-tag {
  position: absolute;
  top: 2%;
  right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorite .card .credit-tag .price {
  text-transform: uppercase;
  height: 2.4rem;
  width: 2.4rem;
  font-size: 0.6rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ff0000;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #bbbbbb;
  border-radius: 50%;
  z-index: 99;
}

.favorite .card .credit-tag .tag {
  text-transform: uppercase;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1.5rem;
  height: 1.8rem;
  width: 6.5rem;
  background-color: #ff0000;
  color: white;
  border-radius: 6px;
}

.favorite .card .credit-tag .tag span {
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
}

.favorite .card .credit-tag .tag span {
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 1rem;
}

.favorite .card i {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  height: 2rem;
  width: 2rem;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 35%;
  right: 3%;
  opacity: 0;
}

.favorite .card .favorite-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.favorite .card .favorite-price span {
  font-size: 1.1rem;
  font-weight: 600;
}

.favorite .card .favorite-price .oldprice {
  color: #df2027;
  text-decoration: line-through;
}

.favorite .card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.favorite .card:hover .favorite-image img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.favorite .card:hover i {
  opacity: 1;
}

.end h1 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333 !important;
  letter-spacing: 0.01rem;
  opacity: 0.95;
}

.end p {
  font-size: 0.88rem;
  color: #333;
  font-weight: 400;
  line-height: 1.5385;
  text-align: left;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.new {
  height: 100%;
  padding-top: 1.5rem;
}

.new h6 {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: -0.4rem;
}

.register {
  height: 100%;
  padding-bottom: 1rem;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register .register-form {
  width: 60%;
}

.register .register-form h6 {
  padding: 0%;
  margin-top: 2.5rem;
  margin-bottom: 1.4rem;
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.register .register-form .form {
  padding-top: 1rem;
  height: 100%;
  padding-bottom: 3rem;
  background-color: white;
}

.register .register-form .form .col-xl-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.register .register-form .form .col-xl-3 label {
  margin-top: 1.1rem;
}

.register .register-form .form .col-xl-3 label span {
  margin-left: 0.2rem;
  color: red;
}

.register .register-form .form .col-xl-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.register .register-form .form .col-xl-9 input {
  border: 1px solid #e7e9f0;
  outline: none;
  height: 2.2rem;
  margin-top: 1rem;
  width: 70%;
}

.register .register-form .form .col-xl-9 input::-webkit-input-placeholder {
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.register .register-form .form .col-xl-9 input:-ms-input-placeholder {
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.register .register-form .form .col-xl-9 input::-ms-input-placeholder {
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.register .register-form .form .col-xl-9 input::placeholder {
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

.register .register-form .form .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.3rem;
}

.register .register-form .form .form-btn button {
  margin-top: 1rem;
  font-weight: 500 !important;
  font-size: 0.9rem;
  border: transparent;
  outline: none;
}

.register .register-form .form .form-btn button:hover {
  background-color: black !important;
  color: white;
}

.register .register-form .form .form-forgot a {
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.register .register-form .form .form-forgot a:hover {
  color: #ff0000;
}

.register .register-form .form .form-question p {
  font-size: 0.85rem;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.register .register-form .form .form-question p a {
  margin-left: 0.3rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.91rem;
  color: #000;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.footer {
  height: 100%;
  padding-bottom: 1rem;
  background-color: #eee;
}

.footer .footer-logo {
  margin-top: 1.7rem;
  width: 100%;
}

.footer .footer-logo img {
  width: 35%;
}

.footer #footer-menu {
  padding-left: 0%;
  margin-top: 1.5rem;
}

.footer #footer-menu li {
  margin-top: 0.3rem;
  list-style: none;
}

.footer #footer-menu li a {
  text-decoration: none;
  color: #666;
  font-size: 0.9rem;
  font-weight: 500;
}

.footer #footer-menu li a:hover {
  font-size: 0.92rem;
  color: black;
}

.footer .title-block {
  margin-top: 1.8rem;
  font-size: 14px;
}

.footer .title-contact {
  margin-top: 0.7rem;
  font-size: 14px;
  color: #666;
}

.footer .title-contact i {
  color: #666;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  position: relative;
}

.footer .contact-content p {
  color: #666;
  margin-left: 0.3rem;
  font-size: 14px;
}

.footer .contact-content .unvan {
  margin-top: 0.3rem;
  border-left: 1px solid #d5d5d5;
  padding-left: 1rem;
  margin-bottom: -0.4rem;
}

.footer .footer-social p {
  font-size: 0.9rem;
  margin-top: 1.8rem;
}

.footer .footer-social .social-icons {
  margin-top: -0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem;
}

.footer .footer-social .social-icons a {
  text-decoration: none;
  color: black;
}

.footer .footer-social .social-icons i {
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-social .social-icons i:hover {
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.footer #footer-end {
  margin-top: 0.6rem;
  font-size: 0.84rem;
  color: #666;
  margin-bottom: -0.2rem;
}

.footer #footer-end a {
  text-decoration: none;
}

.footer #footer-end2 {
  font-size: 0.84rem;
  color: #666;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */