
@{
    ViewData["Title"] = "Mağazalar";
}
@model List<Store>
    <main>
        <div class="fixed-top">
            <i id="fixed-top" class="fa-solid fa-angle-up"></i>
        </div>
        <div class="missiya komekci-class magazalar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
                        @await Html.PartialAsync("_HelpermenuPartial")
                    </div>
                    <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="ofisler">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="ofis">
                                        <h4>Baş Ofis</h4>
                                        <div class="ofis-tel">
                                            <i class="fa-solid fa-phone-flip"></i> <span>*9696</span>
                                        </div>
                                        <div class="ofis-adress">
                                            <i class="fa-solid fa-location-dot"></i> <span>Azərbaycan, Bakı, AZ 1065, B. Bağırova küç. 15B</span>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="ofis">
                                            <h5>@item.Name</h5>
                                            <div class="ofis-tel">
                                                <i class="fa-solid fa-phone-flip"></i> <span> @item.Tel</span>
                                            </div>
                                            <div class="ofis-adress">
                                                <i class="fa-solid fa-location-dot"></i> <span>@item.Address</span>
                                            </div>
                                      
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
   