
@{
    ViewData["Title"] = "Haqqımızda";
}


<main>
    <div class="missiya komekci-class">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
                    @await Html.PartialAsync("_HelpermenuPartial")
                </div>
                <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="text">
                        <div class="row">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Azərbaycanın böyük mebel şəbəkələrindən biri olan Madeyra brendi artıq on ildir ki,  bol çeşid və qiymət münasibliyi ilə Azərbaycan istehlakçısına mebel  seçimində  sərbəstlik verir. Madeyra brendi Embawood MMC- ə məxsus  6400009481 qeydiyyatlı VÖEN altında fəaliyyət göstərir.</p>
                        </div>
                        <div class="row">
                            <p style="font-size: 1.2rem;">Madeyra brendinin başlıca dəyərləri özündə aşağıdakıları birləşdirir:</p>
                        </div>
                    </div>
                    <div class="text-title">
                        <div class="row">
                            <h6>Sərbəstlik</h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Sərbəstlik, sərbəst seçimdən başlayır! Hər bir insan sərbəstliyi müxtəlif cür təsəvvür edir. Amma sərbəstliyin kökündə dayanan əsas məqam sərbəst seçim imkanıdır. Madeyra gənc brend olsa da, məhsul portfeli genişdir. Bununla biz Sizə seçim sərbəstliyi vermək istədik. Mağazamıza daxil olduqda, bu kataloqu vərəqlədikdə qoyduğunuz istənilən tələbə uyğun mebel tapa biləcəksiniz. Məqsədimiz Sizə bu sərbəstliyi təmin etmək və Sizi razı salmaqdır. Yaşınızdan, ailə statusundan asılı olmayaraq modellərimiz arasında mütləq Sizə uyğun olanı vardır.</p>
                        </div>
                    </div>

                    <div class="text-title">
                        <div class="row">
                            <h6>Madeyra ilə Siz seçimdə sərbəstsiniz!</h6>
                        </div>
                    </div>
                    <div class="text-title">
                        <div class="row">
                            <h6>Funksionallıq</h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Funksional mebel müəyyən mənada universal mebel deməkdir. Qonaq qəbul etməyi sevirsiz, lakin otaq sayınız məhduddur. Belə vəziyyətdə funksional yumşaq mebellərimiz köməyinizə çatacaqdır. Həm divanı, həm də kresloları mexanizmlidir. Uşaqdan böyüyə bütün qonaqlarınızı yerləşdirmək üçün idealdır. Eyni zamanda yumşaq mebellərdə artıq əşyalarınızı yığa biləcəyiniz sandıqlar da vardır. Qonaq otağı mebelləri və vitrinləri dizayn edərkən siyirmə, rəf və dolablardan maksimum şəkildə istifadə edə bilməyinizi təmin etdik. Otaq və interyerinizin özünəməxsusluğunu nəzərə alaraq bəzi modellərimizi modulyar şəkildə hazırladıq. Yataq otağı mebellərində əsasən yığcam lakin dərin rəf və siyirmələri olan dolab və kamodlar hazırladıq. Dolabların daxilində işıqlandırma sistemi qurduq. Eyni prinsip uşaq dəstləri və mətbəx dəstləri üçün də etibarlıdır. Uşaq otaqlarının iki və daha artıq rəng kombinasiyası dəstin istənilən interyerə uyğunlaşmasını təmin edir. Mətbəx dəstlərində həm divar boyu, həm də künc dolabların hesabına kiçik sahədən maksimum faydalı şəkildə istifadə etməyə imkan yaranır ki, xanımlarımız bizim mətbəxlərdə özlərini rahat və sərbəst hiss edə bilsinlər.</p>
                        </div>
                    </div>

                    <div class="text-title">
                        <div class="row">
                            <h6>Bir sözlə mebeldə funksionallıq amilinə əhəmiyyət verirsinizsə, doğru ünvandasınız.</h6>
                        </div>
                    </div>
                    <div class="text-title">
                        <div class="row">
                            <h6>Dizayn</h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Klassik tərzi sevirsiz? Mebeldə müasirlik ab-havasına üstünlük verirsiz? Bir mebeldə bir neçə dizayn üslubunu görmək istəyərdiniz? Bunların heç birini bəyənmirsiz, ənənəvi tərzdə dizayn edilmiş mebeli ideal hesab edirsiz? Siz haqlısız! Çünki zövqlər mübahisə mövzusu ola bilməz. Sizin zövqünüzə uyğun mebel modellərini isə bizim mağazalardan əldə edə bilərsiniz. İstehsal etdiyimiz hər bir model məhz Sizə uyğundur!</p>
                        </div>
                    </div>
                    <div class="text-title">
                        <div class="row">
                            <h6>Evinizin yanında</h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Mebel axtarışında bütün şəhəri ələk-vələk etmək artıq gərəksizdir.Çeşid bolluğu, qiymət münasibliyi, dizayn müxtəlifliyi ilə fərqlənən Madeyra mebel mağazası evinizin yanındadır. Hal-hazırda Madeyra brendinin respublika üzrə ümumi mağazalar şəbəkəsinə 78 mağaza daxildir. </p>
                        </div>
                    </div>
                    <div class="text-title">
                        <div class="row">
                            <h6>Madeyra - Sizə uyğundur!</h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Mebeldə görmək istədiyiniz xüsusiyyətlər funksionallıq, keyfiyyət, çeşid bolluğu, müxtəlif dizayn həlləri, ekoloji cəhətdən təmiz məhsullar, yüksək xidmət səviyyəsi, pulsuz çatdırma və quraşdırma, iki illik zəmanət, sərfəli kredit şərtləridirsə, siz düzgün ünvandasınız. Mebeldə axtardığınız hər şey Madeyrada öz əksini tapmışdır. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>


