
@{
    ViewData["Title"] = "Missiya və Dəyərlər";
}


<main>
    <div class="missiya komekci-class">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
                    @await Html.PartialAsync("_HelpermenuPartial")
                </div>
                <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="text-title">
                        <div class="row">
                            <h6>Missiyamız — <span>İnsanlara gündəlik həyatda rahatlıq təmin edən, tərz və zövqlərinə uyğun mebel təqdim etməkdir</span></h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Biz insanlara inam və əminlik veririk, onların həyatını daha rahat və zövqlü edirik, onların məqsəd və arzularını reallaşdırırıq. Biz dünyanın ən yaxşı şirkətlərindən birini qururuq. Bizim müvəffəqiyyətimiz əməkdaşlarımızın professionallığı və xoşbəxtliyinə əsaslanır . Bizim missiya fəaliyyət gostərdiyimiz hər bir ölkənin iqtisadiyyatında önəmli yer tutaraq, cəmiyyətdə inamı, etibarı və stabilliyi saxlamaqdır.  Bir təşkilat kimi müştərilərimiz və onların tələbatı fəaliyyətimizin əsasıdır. </p>
                        </div>
                    </div>
                    <div class="text-title">
                        <div class="row">
                            <h6>Dəyərlərimiz: </h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <ul>
                                <li>- Vicdanlılıq</li>
                                <li>- Ənənələrə hörmət etmək və təkmilləşmək;</li>
                                <li>- İnam və məsuliyyətlilik;</li>
                                <li>- Məntiqlilik və peşəkarlıq;</li>
                                <li>- Təşəbbüskarlıq və kreativlik;</li>
                                <li>- Komanda işi və nəticəlilik;</li>
                                <li>- Açıqlıq və xeyirxahlıq;</li>
                                <li>- Sağlam həyat tərzi (bədən, ruh və idrak).</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</main>


