
@{
    ViewData["Title"] = "Zəmanət";
}


<main>
    <div class="missiya komekci-class">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
                    @await Html.PartialAsync("_HelpermenuPartial")
                </div>
                <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="termin-text">
                        <div class="row">
                            <p>Şirkətimiz istehsal etdiyi hər bir məhsul növünə 2 il müddətində zəmanət verilir. Zəmanət şərtləri haqqında daha ətraflı məlumatı bu bölmədən götürə bilərsiniz.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin alınma tarixinin qəbul edilməsi üçün zəmanət müddəti ərzində zəmanət kartı, təhvil-təslim aktı, çek, qaimə-faktura və bənzəri sənədləri itirməyin. Sənədlər natamam olduğu təqdirdə şirkətin zəmanət xidməti göstərməkdən imtina etmək hüququ vardır. </p>
                        </div>
                    </div>
                    <div class="text-title">
                        <div class="row">
                            <h6 style="padding-left: 1.4rem;">Zəmanət şərtləri</h6>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Zəmanət müddəti mebelin satıldığı gündən başlayaraq 24 ay müddətində etibarlıdır.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Zəmanət xidməti mebelin bütün hissələri daxil olmaqla şirkətin istehsal etdiyi hər model  üçün  etibarlıdır.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Təmir müddəti ən çox 30 iş günü təşkil edir.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin təmirdə olduğu vaxt kəsiyi zəmanət müddətinə əlavə olunmur.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin zəmanət müddəti çərçivəsində mebeldə material, quraşdırma (şirkətin təyin etdiyi quraşdırma qrupu tərəfindən yığılıbsa) və ya fabrik xətaları aşkarlandığı təqdirdə şirkət hesabına təmir edilir, ehtiyac yarandıqda isə təmənnasız olaraq əvəzləşdirilir.  </p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Siz aşağıda sadalanmış hallarda aldığınız mebelin təmənnasız dəyişdirilməsini tələb edə bilərsiniz: </strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin hər-hansı bir hissəsi bir il ərzində iki dəfə təmir edildikdən sonra eyni qüsur təkrar yarandığı təqdirdə;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebeldə 1 il ərzində 4 dəfədən artıq müxtəlif qüsurlar yarandığı təqdirdə;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebeldə 2 il ərzində (zəmanət müddəti ərzində) 6 dəfədən artıq müxtəlif qüsurlar yarandığı təqdirdə;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Təmir üçün təyin olunmuş maksimal müddət (30 gün) keçdiyi təqdirdə;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin təmirə yararsız olmağı ekspert tərəfindən təsdiqləndiyi təqdirdə; </p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Zəmanət xidmətinə daxil olmayan hallar aşağıdakı kimidir:</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Şirkət tərəfindən təyin olunmamış quraşdırma qrupu tərəfindən quraşdırma nəticəsində yaranan qüsurlar;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Zəmanət müddətinin bitməsi;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Bu kitabçada göstərilən mebel istismar qaydalarına riayət edilməməsi;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin üzərində təhvil-təslimdən sonra mexaniki zədələrin yaranması;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mexanizmlərin normadan artıq yüklənməsi;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin təbii fəlakət (sel, yanğın, bədbəxt hadisə, v.s.) nəticəsində zərər görməsi;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>İstehlakçı tərəfindən bilərək və ya bilməyərək mebelə fiziki zərər yetirilməsi;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelə, təmir məqsədi ilə şirkət tərəfindən təyin edilməmiş ustaların müdaxilə etməsi nəticəsində zədələrin aşkarlanması;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelə istehlakçı tərəfindən konstruktiv dəyişikliyin edilməsi nəticəsində zərərin verilməsi;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Təmizlik zamanı mebelə zərər verə biləcək maddələrdən istifadə olunması;</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin yanlış istismarı nəticəsində qüsurların yaranması (cızılma, əzilmə, qırılma və.s.)</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Yuxarıda qeyd olunmuş hallar meydana gəldiyi təqdirdə göstərilən xidmət ödənişlidir və şirkət tərəfindən təyin edilmiş qiymətlərlə həyata keçirilir. Qüsurun xüsusiyyəti mebelə baxış keçirilən zaman ekspert tərəfindən təyin edilir.</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Mebelin qəbulu</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Quraşdırma işi tamamlandıqdan sonra mebeli diqqətlə yoxlayın. Siyirmələrin, işıqlandırma sisteminin, yumşaq mebel mexanizmlərinin işləyib-işləmədiyinə diqqət yetirin.  Qapıların düzgün tənzimlənməsinə, mexaniki zədələrin (cızıq, batıq, qopma, mühüm dərəcədə olan rəng fərqliliyi) olub-olmamasına baxın. Qeyd etmək istərdik ki, mebel təhvil verildikdən sonra aşkarlanmış mexaniki zədələrə aid şikayətlər zəmanətli təmir üçün əsas kimi qəbul olunmur.  Həmin problemlərin aradan qaldırılması ödəniş müqabilində həyata keçirilir. Mebelin görünməyən və xarici görünüşünə təsir etməyən hissələrində olan kiçik çaplı qüsurlar yol veriləndir.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Mebelin çatdırılması</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>"Mebelin çatdırılması" dedikdə mebelin alındığı məkandan onun sifarişçi tərəfindən göstərilmiş ünvana (ev və digər) daşınması (yükləmə, daşıma, boşaltma, ünvana qədər qaldırma) nəzərdə tutulur.  Mebelin ünvana çatdırılması şirkətimiz tərəfindən Sizə təklif etdiyimiz ödənişsiz, lazımi avadanlıq, nəqliyyat vasitələri və personala malik xidmətdir. Mebel aldığınızda bu xidmətdən istifadə etməyinizi tövsiyə edirik.. Mebelin ünvana çatdırılması şirkətimiz tərəfindən işlənib hazırlanan "Mebelin çatdırılması və quraşdırılmasıtəlimatı"na  müvafiq olaraq həyata keçirilir. Sizə, öz imkanlarınız hesabına mebelin daşınmasını həyata keçirməyinizi tövsiyə etmirik.  Çünki, mebel daşınmasını müstəqil olaraq həyata keçirdikdən sonra, ortaya çıxan çatışmazlıqlar zəmanət xidməti daxilində təmin olunmur.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Mebelin quraşdırılması</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>
                                Mebelin quraşdırılmasında da şirkətimizin müvafiq təlim keçmiş personala, lazımi avadanlıq, alət və cihazlara malik, həmçinin, "Mebelin çatdırılması və quraşdırılması" təlimatına uyğun olaraq fəaliyyət göstərən quraşdırma xidmətindən istifadə etməyinizi tövsiyə edirik. Belə olduğu halda, şirkətimiz quraşdırılan mebelin keyfiyyətinə görə cavabdehlik daşıyır.
                                Sizə öz imkanlarınız hesabına və ya şirkət tərəfindən ixtisaslaşdırılmamış quraşdırıcıların xidmətindən istifadə etməklə mebeli quraşdırmaq, təmir etmək və ya aksessuarlarını dəyişməyi tövsiyə etmirik. Çünki, mebelin quraşdırılması xüsusi peşəkarlıq (müvafiq bilik və bacarıq; mebel istehsalının texnologiyası haqqında məlumat; istifadə olunan materiallar və konstruksiyalar haqqında məlumat; quraşdırma ardıcıllığı; quraşdırmada istifadə olunan bütün avadanlıqlardan istifadə bacarığı və b.) və təcrübə tələb edir.
                            </p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Diqqət! Quraşdırma Embawood şirkətinə aid olmayan qeyri-peşəkar quraşdırıcılar tərəfindən həyata keçirildikdə mebelə verilən zəmanət qüvvədən düşür və həmçinin, düzgün quraşdırılmamış mebel istifadə zamanı insanların sağlığı və hətta həyatı üçün də təhlükə yarada bilər.</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Mebeldən ümumi istifadə qaydaları</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin hər-hansı bir hissəsi ləkələnibsə, həmin hissənin dərhal təmizlənməsi tövsiyə olunur. Əgər ləkə bir müddət mebel hissəsinin üzərində qalsa, yayıla bilər və mebelin səthi xarab ola bilər.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Çətin təmizlənən ləkələrin çıxarılması üçün xüsusi təmizlik vasitələrindən istifadə etməyiniz tövsiyə olunur. Lazımi vasitənin düzgün seçimi üçün onun istifadə təyinatını düzgün oxuyun.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Kimyəvi təmizlik maddələrinin istifadəsi</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Turşu, qələvi, həlledici kimi kimyəvi maddələrin mebellə təmasına yol verməyin. Həmin maddələr kimyəvi aktiv olduğundan onlarla təmas sizə və mebelinizə zərər yetirə bilər.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Laklı fasad</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Unutmayın ki, laklı mebelə xüsusi qulluq etməsəniz, tədricən mebel öz təravətini itirə bilər. Buna hava şəraiti, ətraf mühit, yanlış baxım, günəş şüalarının aşırı təsiri səbəb ola bilər.  Laklı fasadların təmizlənməsi üçün  quru və yumşaq bezlə tərkibində cilalayıcı olan təmizlik maddələrindən istifadə etməyiniz tövsiyə olunur. Laklı fasad cilalayıcılarından da istifadə edə bilərsiniz, onlar eyni zamanda təmizləmə xüsusiyyətinə də malikdir.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Panel mebeldən  istifadə qaydaları:</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>
                                Şirkətimiz istehsal etdiyi hər bir məhsul növünə 2 il müddətində zəmanət verilir. Zəmanət şərtləri haqqında daha ətraflı məlumatı bu bölmədən götürə bilərsiniz.

                                Mebelin alınma tarixinin qəbul edilməsi üçün zəmanət müddəti ərzində zəmanət kartı, təhvil-təslim aktı, çek, qaimə-faktura və bənzəri sənədləri itirməyin. Sənədlər natamam olduğu təqdirdə şirkətin zəmanət xidməti göstərməkdən imtina etmək hüququ vardır.

                                Zəmanət şərtləri
                                Zəmanət müddəti mebelin satıldığı gündən başlayaraq 24 ay müddətində etibarlıdır.

                                Zəmanət xidməti mebelin bütün hissələri daxil olmaqla şirkətin istehsal etdiyi hər model  üçün  etibarlıdır.

                                Təmir müddəti ən çox 30 iş günü təşkil edir.

                                Mebelin təmirdə olduğu vaxt kəsiyi zəmanət müddətinə əlavə olunmur.

                                Mebelin zəmanət müddəti çərçivəsində mebeldə material, quraşdırma (şirkətin təyin etdiyi quraşdırma qrupu tərəfindən yığılıbsa) və ya fabrik xətaları aşkarlandığı təqdirdə şirkət hesabına təmir edilir, ehtiyac yarandıqda isə təmənnasız olaraq əvəzləşdirilir.

                                Siz aşağıda sadalanmış hallarda aldığınız mebelin təmənnasız dəyişdirilməsini tələb edə bilərsiniz:

                                Mebelin hər-hansı bir hissəsi bir il ərzində iki dəfə təmir edildikdən sonra eyni qüsur təkrar yarandığı təqdirdə;
                                Mebeldə 1 il ərzində 4 dəfədən artıq müxtəlif qüsurlar yarandığı təqdirdə;
                                Mebeldə 2 il ərzində (zəmanət müddəti ərzində) 6 dəfədən artıq müxtəlif qüsurlar yarandığı təqdirdə;
                                Təmir üçün təyin olunmuş maksimal müddət (30 gün) keçdiyi təqdirdə;
                                Mebelin təmirə yararsız olmağı ekspert tərəfindən təsdiqləndiyi təqdirdə;
                                Zəmanət xidmətinə daxil olmayan hallar aşağıdakı kimidir:

                                Şirkət tərəfindən təyin olunmamış quraşdırma qrupu tərəfindən quraşdırma nəticəsində yaranan qüsurlar;
                                Zəmanət müddətinin bitməsi;
                                Bu kitabçada göstərilən mebel istismar qaydalarına riayət edilməməsi;
                                Mebelin üzərində təhvil-təslimdən sonra mexaniki zədələrin yaranması;
                                Mexanizmlərin normadan artıq yüklənməsi;
                                Mebelin təbii fəlakət (sel, yanğın, bədbəxt hadisə, v.s.) nəticəsində zərər görməsi;
                                İstehlakçı tərəfindən bilərək və ya bilməyərək mebelə fiziki zərər yetirilməsi;
                                Mebelə, təmir məqsədi ilə şirkət tərəfindən təyin edilməmiş ustaların müdaxilə etməsi nəticəsində zədələrin aşkarlanması;
                                Mebelə istehlakçı tərəfindən konstruktiv dəyişikliyin edilməsi nəticəsində zərərin verilməsi;
                                Təmizlik zamanı mebelə zərər verə biləcək maddələrdən istifadə olunması;
                                Mebelin yanlış istismarı nəticəsində qüsurların yaranması (cızılma, əzilmə, qırılma və.s.)
                                Yuxarıda qeyd olunmuş hallar meydana gəldiyi təqdirdə göstərilən xidmət ödənişlidir və şirkət tərəfindən təyin edilmiş qiymətlərlə həyata keçirilir. Qüsurun xüsusiyyəti mebelə baxış keçirilən zaman ekspert tərəfindən təyin edilir.

                                Mebelin qəbulu
                                Quraşdırma işi tamamlandıqdan sonra mebeli diqqətlə yoxlayın. Siyirmələrin, işıqlandırma sisteminin, yumşaq mebel mexanizmlərinin işləyib-işləmədiyinə diqqət yetirin.  Qapıların düzgün tənzimlənməsinə, mexaniki zədələrin (cızıq, batıq, qopma, mühüm dərəcədə olan rəng fərqliliyi) olub-olmamasına baxın. Qeyd etmək istərdik ki, mebel təhvil verildikdən sonra aşkarlanmış mexaniki zədələrə aid şikayətlər zəmanətli təmir üçün əsas kimi qəbul olunmur.  Həmin problemlərin aradan qaldırılması ödəniş müqabilində həyata keçirilir. Mebelin görünməyən və xarici görünüşünə təsir etməyən hissələrində olan kiçik çaplı qüsurlar yol veriləndir.

                                Mebelin çatdırılması
                                "Mebelin çatdırılması" dedikdə mebelin alındığı məkandan onun sifarişçi tərəfindən göstərilmiş ünvana (ev və digər) daşınması (yükləmə, daşıma, boşaltma, ünvana qədər qaldırma) nəzərdə tutulur.  Mebelin ünvana çatdırılması şirkətimiz tərəfindən Sizə təklif etdiyimiz ödənişsiz, lazımi avadanlıq, nəqliyyat vasitələri və personala malik xidmətdir. Mebel aldığınızda bu xidmətdən istifadə etməyinizi tövsiyə edirik.. Mebelin ünvana çatdırılması şirkətimiz tərəfindən işlənib hazırlanan "Mebelin çatdırılması və quraşdırılmasıtəlimatı"na  müvafiq olaraq həyata keçirilir. Sizə, öz imkanlarınız hesabına mebelin daşınmasını həyata keçirməyinizi tövsiyə etmirik.  Çünki, mebel daşınmasını müstəqil olaraq həyata keçirdikdən sonra, ortaya çıxan çatışmazlıqlar zəmanət xidməti daxilində təmin olunmur.

                                Mebelin quraşdırılması
                                Mebelin quraşdırılmasında da şirkətimizin müvafiq təlim keçmiş personala, lazımi avadanlıq, alət və cihazlara malik, həmçinin, "Mebelin çatdırılması və quraşdırılması" təlimatına uyğun olaraq fəaliyyət göstərən quraşdırma xidmətindən istifadə etməyinizi tövsiyə edirik. Belə olduğu halda, şirkətimiz quraşdırılan mebelin keyfiyyətinə görə cavabdehlik daşıyır.
                                Sizə öz imkanlarınız hesabına və ya şirkət tərəfindən ixtisaslaşdırılmamış quraşdırıcıların xidmətindən istifadə etməklə mebeli quraşdırmaq, təmir etmək və ya aksessuarlarını dəyişməyi tövsiyə etmirik. Çünki, mebelin quraşdırılması xüsusi peşəkarlıq (müvafiq bilik və bacarıq; mebel istehsalının texnologiyası haqqında məlumat; istifadə olunan materiallar və konstruksiyalar haqqında məlumat; quraşdırma ardıcıllığı; quraşdırmada istifadə olunan bütün avadanlıqlardan istifadə bacarığı və b.) və təcrübə tələb edir.
                                Diqqət! Quraşdırma Embawood şirkətinə aid olmayan qeyri-peşəkar quraşdırıcılar tərəfindən həyata keçirildikdə mebelə verilən zəmanət qüvvədən düşür və həmçinin, düzgün quraşdırılmamış mebel istifadə zamanı insanların sağlığı və hətta həyatı üçün də təhlükə yarada bilər.

                                Mebeldən ümumi istifadə qaydaları

                                Mebelin hər-hansı bir hissəsi ləkələnibsə, həmin hissənin dərhal təmizlənməsi tövsiyə olunur. Əgər ləkə bir müddət mebel hissəsinin üzərində qalsa, yayıla bilər və mebelin səthi xarab ola bilər.

                                Çətin təmizlənən ləkələrin çıxarılması üçün xüsusi təmizlik vasitələrindən istifadə etməyiniz tövsiyə olunur. Lazımi vasitənin düzgün seçimi üçün onun istifadə təyinatını düzgün oxuyun.

                                Kimyəvi təmizlik maddələrinin istifadəsi

                                Turşu, qələvi, həlledici kimi kimyəvi maddələrin mebellə təmasına yol verməyin. Həmin maddələr kimyəvi aktiv olduğundan onlarla təmas sizə və mebelinizə zərər yetirə bilər.

                                Laklı fasad

                                Unutmayın ki, laklı mebelə xüsusi qulluq etməsəniz, tədricən mebel öz təravətini itirə bilər. Buna hava şəraiti, ətraf mühit, yanlış baxım, günəş şüalarının aşırı təsiri səbəb ola bilər.  Laklı fasadların təmizlənməsi üçün  quru və yumşaq bezlə tərkibində cilalayıcı olan təmizlik maddələrindən istifadə etməyiniz tövsiyə olunur. Laklı fasad cilalayıcılarından da istifadə edə bilərsiniz, onlar eyni zamanda təmizləmə xüsusiyyətinə də malikdir.

                                Panel mebeldən  istifadə qaydaları:

                                Qapı və siyirmələri zərblə bağlamayın. Belə olduqda  mebelə qoyulmuş  şüşə və güzgülər qırıla, digər hissələr (petlə, ray, kranşteyn) sıradan çıxa  bilər.
                            </p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelinizin rəf və siyirmələri əşyalarla dolu olduğu halda mebelin yerini dəyişdirməyin.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin yerini dəyişdikdən sonra,  qapı və siyirmələri yenidən tənzimləyin.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelinizin üzərinə dağılan  suyu dərhal silin və qurulayın.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Hava şəraiti və ətraf mühitin təsiri</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebel yaşayış yerlərində istifadə üçün təxsis edilmişdir, quru, isti, havalandırma imkanı olan yerlərdə istismar olunmalıdır.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin işığa, rütubətə, istiyə və soyuğa həssas olduğunu nəzərə alaraq bu şərtlərin mebelə təsir etməməsinə xüsusi diqqət yetirilməlidir.  Əks halda, mebelin köhnəlməsi, deformasiyası və hissələrinin istismara yararsız hala gəlməsi müşahidə oluna bilər.         </p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>İşıq</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Günəş şüalarının mebellə bir başa təmas etməsinə yol verməyin. Günəş şüalarının mütəmadi olaraq mebellə təmasımebel rənginin solmasına, üzləmə materiallarının soyulmasına və deformasiyaya yol aça bilər.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Temperatur</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>İstilik və ya soyuqluq dərəcəsinin yüksəkliyi, və ya hava temperaturunun birdən kəskin olaraq dəyişməsi mebelə ciddi ziyan vura bilər.  Mebeli soyuq və nəmli divarlara və ya istilik mənbələrinə (ən az 1 m) yaxın quraşdırmağınız tövsiyə olunmur. Mebelin saxlanılması və istifadə olunması üçün tövsiyə olunan istilik +10 - +25 dərəcə arasıdır. Mebelin üstünə qaynar alətləri (ütü, isti tava, qaynar çaydan v.s.) qoymayın.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Rütubət</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin istismar edildiyi yer üçün tövsiyə olunan nisbi rütubət 60 - 70%. Mebeli uzun müddət rütubətli və (və ya) quru (xüsusən mütəmadi olaraq dəyişkən) hava şəraitində saxlanması tövsiyə edilmir. Belə hava şəraiti zamanla mebelin və ya onun hissələrinin dağılmasına səbəb ola bilər. Mebelin istismar edildiyi  yerdə bənzər şərait olduğu təqdirdə, həmin məkanın ventilyasiyasını təmin etməyiniz vacibdir. Bu məqsədlə, hava quruducusu və ya nəmləndiricilərdən istifadə edə bilərsiniz.</p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Mebelin səthinin hər zaman quru qalmasına diqqət edin. İslanmış mebel səthinin quru və yumşaq bezlə silinməsi tövsiyə olunur. Mebelin üz (fasad) hissələrini  xüsusi mebel yağları və ya islaq, yumşaq və təmiz bezlə silərək təmizləyin, sonra isə dərhal qurulayın. Təmizlik üçün kimyəvi maddələrdən (turşu, qələvi, həlledici) istifadə etməyin. Şüşə və güzgüləri quru bezlə silin, yağlı və çıxmayan ləkələri suda isladılaraq yaxşı sıxılmış yumşaq bezlə silin. </p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Təmizlik</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>
                                <strong>
                                    Mebelin hər-hansı bir hissəsi ləkələnibsə, həmin hissənin dərhal təmizlənməsi tövsiyə olunur. Əgər ləkə bir müddət mebel hissəsinin üzərində qalsa, yayıla bilər və mebelin səthi xarab ola bilər.
                                </strong>
                            </p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Çətin təmizlənən ləkələrin çıxarılması üçün xüsusi təmizlik vasitələrindən istifadə etməyiniz tövsiyə olunur. Lazımi vasitənin düzgün seçimi üçün onun istifadə təyinatını düzgün oxuyun.</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Kimyəvi təmizlik maddələrinin istifadəsi:</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Turşu, qələvi, həlledici kimi kimyəvi maddələrin mebellə təmasına yol verməyin. Həmin maddələr kimyəvi aktiv olduğundan onlarla təmas sizə və mebelinizə zərər yetirə bilər.</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p><strong>Laklı fasad</strong></p>
                        </div>
                    </div>
                    <div class="termin-text">
                        <div class="row">
                            <p>Unutmayın ki, laklı mebelə xüsusi qulluq etməsəniz, tədricən mebel öz təravətini itirə bilər. Buna hava şəraiti, ətraf mühit, yanlış baxım, günəş şüalarının aşırı təsiri səbəb ola bilər.  Laklı fasadların təmizlənməsi üçün  quru və yumşaq bezlə tərkibində cilalayıcı olan təmizlik maddələrindən istifadə etməyiniz tövsiyə olunur. Laklı fasad cilalayıcılarından da istifadə edə bilərsiniz, onlar eyni zamanda təmizləmə xüsusiyyətinə də malikdir.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
</main>


