
@{
    ViewData["Title"] = "Müştəri xidməti";
}

<main>
    <div class="missiya komekci-class">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
                  @await Html.PartialAsync("_HelpermenuPartial")
                </div>
                <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="text-title">
                        <div class="row">
                            <h6>Müştəri xidməti!</h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Madeyra mebeli almış hər bir müştərimiz sonrakı periodlarda yarana biləcək istənilən problem, nasazlıq barəsində bizə müraciət edə bilər. *9696 qısa nəmrəsinə daxil olan hər bir sorğu, istər zəmanət müddəti çərçivəsində, istərsə də zəmanət müddətindən sonra diqqətlə araşdırlır və müvafiq olaraq həll edilir.</p>
                        </div>
                    </div>

                    <div class="text-title">
                        <div class="row">
                            <h6>2 illik zəmanət!</h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Mebel istehsalı prosesinin hər bir mərhələsində: xammal alışından başlayaraq məhsulların paketlənməsinə qədər bütün proseslər ciddi keyfiyyət nəzarətindən keçir. Belə yanaşmamızın nəticəsidir ki, bütün mebel məhsullarımıza 2 illik zəmanət veririk. Bununla belə, istənilən mebel modelimizi almaqla Siz ömür boyu etibar edə biləcəyiniz keyfiyyət əldə edirsiniz. Çünki, biz hər bir mebel modelimizə sevgi və nəvazişlə yanaşırıq. Sizin üçün istehsal edirik. Sizin xidmətinizdəyik!</p>
                        </div>
                    </div>

                    <div class="text-title">
                        <div class="row">
                            <h6>24 saat ərzində çatdırılma və quraşdırma!</h6>
                        </div>
                    </div>
                    <div class="text">
                        <div class="row">
                            <p>Madeyra sizə pulsuz çatdırma və quraşdırma xidməti təqdim edir. İstənilən brend mağazamızda, istənilən miqdarda mebel alın və 24 saat ərzində aldığınız mebel evinizdə olacaqdır. Xüsusi təlim keçmiş montaj qrupumuz operativ şəkildə və peşəkar səviyyədə mebelinizi ən qısa müddət ərzində quraşdıracaqdır.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

