
@{
    ViewData["Title"] = "Terminlər";
}


<main>
    <div class="missiya komekci-class">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
                    @await Html.PartialAsync("_HelpermenuPartial")
                </div>
                <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="termin-text">
                        <div class="row">
                            <strong>Bu bölmədə, mebel sahəsində tez-tez rast gəlinən terminlər haqqında məlumat verməyə çalışmışıq.</strong>
                        </div>
                        <p><strong>Açıq rəf</strong>— Kitabxanalarda və mağazalarda kitabların və malların asanlıqla seçiləbilməsini, görünəbilməsini təmin etmək üçün hazırlanan dolab. Bu dolabları ev şəraitində də istifadə etmək mümkündür.</p>
                        <p><strong>Demontaj mebel</strong>— Sökülüb təkrar montaj ediləbilən şəkildə istehsal olunmuş mebel.</p>
                        <p><strong>DVP (древесноволокнистые плиты)</strong>— ağac lifindən olan kütlənin isti preslənməsi prosesində xalça şəklində formalaşdırılan təbəqəli material. Bu lifləri ağac xammalını xırdalamaqla və buxara verməklə almaq mümkündür. Xammal olaraq taxta—şalban hazırlanma prosesindən qalmış qalıqlar, texnoloji yonqarlardan və oduncaq ağaclar istifadə edilir. </p>
                        <p><strong>DSP</strong>— (древесно-стружечная плита) — İsti preslə preslənmiş ağac hissəciklərindən ibarət çoxlaylı materialdır. DSP lövhəsi ən sərt tələblərə uyğundur— daxili boşluqlar, çatlaqlar kimi çatışmazlıqları yoxdur. Ən əhəmiyyətli keyfiyyətləri sırasında yüksək davamlılıq, sərtlik, təktərkiblilik, emalda yumşaqlıq, mismar və şurupları möhkəm saxlama qabiliyyəti vardır.</p>
                        <p><strong>Düşmə Qapaq</strong>— İki yan tərəfindəki millərin köməyi ilə dönərək açılan və üfiqi vəziyyətdə durduqda masa kimi də istifadə olunabilən mebel qapağı.</p>
                        <p><strong>Finischfolie</strong>— Teksturalı incə lövhədən hazırlanmış və səthi cila ilə örtülmüş təklaylı materialdır.</p>
                        <p><strong>Karniz</strong>— Mebel kompozisiyasını tamamlayan, hər hansı profil və ya bir neçə profildən hazırlanan xətt elementidir. Karnizin bayır tərəfə çıxıntısı olur. Adətən karnizin üstündə attik və ya fronton yerləşdirilir.</p>
                        <p><strong>Klass E1</strong>— DSP-nin keyfiyyət standartıdır. Bu o mənaya gəlir ki, həmin məhsulun hətta tibbi mebelin hazırlanmasında da istifadə edilməsi mümkündür (zərərli maddələrin, xüsusilə konserogen formaldegid fenolu maddəsinin çıxarılmasına nəzarət standartı)</p>
                        <p><strong>Laminat</strong>— Kağız laylı dekorativ materialdır. Laminatın növləri— (High Pressure Laminat) — mərtəbəli presslərdə hazırlanan yüksək təzyiqlə preslənmiş üzlük materialıdır. CPL (Contiuous Pressure Laminat) — lentli presslərdə hazırlanan aşağı təzyiqlə preslənmiş üzlük materialıdır.</p>
                        <p><strong>Laminə edilmiş DSP/MDF</strong>— Melamin hopdurulmuş xüsusi dekorativ kağız örtüklü lövhədir (ona görə bəzən ona melamin lövhəsi deyirlər). Laminatlı lövhənin yüksək istehlak xüsusiyyətləri vardır— termodayanıqlıdır, nəmə davamlıdır, sürtülməyə və digər zədələrə qarşı dayanıqlıdır.</p>
                        <p><strong>Marketri (şəbəkə)</strong>— Şpon hissəciklərindən yığılmış dəstdir. Məhşur fransız mebelçisi Andre Şarl Bul (1642 — 1732) tısbağa qını, qara ağac və bənzəri materialların fonunda bürüncdən mozaik naxışlar yığırdı. Bul mazaikası və ya Bull merketrisi adını almış bu texnikanın məğzində biri—birinin üstünə qoyulmuş material laylarının üzərində eyni zamanda həm fonun həm də haşiyənin elementləri oyulma işi durmuşdur</p>
                        <p><strong>MDF</strong>— İngilis dilindən götürülmüş Medium Density Fiberboard ifadəsinin abreviaturudur. Orta sıxlığa malik taxtalifli lövhə mənasını verir. MDF lövhələr ağac liflərindən hazırlanır. Bu da lövhələri ekoloji baxımdan qiymətli edir.  MDF lövhələri çox möhkəm və sıx olur, rənglənmək və ya laminə edilmək üçün idealdır.</p>
                        <p><strong>Laminə etmək</strong>— Lövhələrin və ya hissələrinin xüsusi kağız plyonka ilə üzlənməsi prosesidir. Laminə ancaq isti preslərdə üzlük materialın lövhəyə yapışdırılması şəklində həyata keçirilir. Presləmə temperaturu 190 — 210 C, presləmə müddəti 30—40 saniyədir. Laminə edilmiş lövhə mexaniki, kimyəvi təsirə qarşı yüksək dayanıqlıdır.</p>
                        <p><strong>Postforminq</strong> — Üzlük materiallarının mebel hissələrinin kənarlarına yapışdırılması prosesidir.</p>
                        <p><strong>Pressforminq</strong> — MDF lövhələrinin işlənmə texnologiyasıdır. Bu texnologiya vasitəsilə lövhənin üzərinə dekorativ relyef vurulur.</p>
                        <p><strong>PVC</strong>— Mebel sənayesində üzlük material kimi istifadə olunur. Bu material formaya salındıqdan sonra təkrar emal olunma xassəli termoplastlar qrupuna daxildir. Plimer plyonkalar müxtəlif rənglərdə, çap və ya relyef şəkillərlə, mat və ya parlaq səthə malikdir. Uzunömürlüdür; sirkə turşusu, etil spirt, qələvilərə qarşı dayanıqlıdır; tərkibində insan sağlığına zərli maddələr yoxdur.</p>
                        <p><strong>Softforminq</strong>— Mebel fasadlarının hazırlanması üçün istifadə edilən laminə edilmiş DSP—lərin hazırlanması texnologiyasıdır.</p>
                        <p><strong>Tekstura</strong>— Latın dilində textura — parça, quruluş, birləşmə, tikili mənasını daşıyır. Hər—hansı parçanın, materialın daxili strukturu, quruluşu əsasında onun səthinin xüsusiyyəti haqda məlumat verir. Tekstura materialın obyektiv fiziki və kimyəvi xassələri ilə müəyyən edilir və bununla da fakturadan seçilir.</p>
                        <p><strong>Temperlənmiş şüşə</strong>— Belə şüşə tipi qoruyucu şüşə tipinə daxildir. Standart şüşə paketləri qırıldığında xırda parçalara parçalandığı zaman teperlənmiş şüşələr onlardan 4—5 dəfə daha etibarlıdır və qırıldığı zaman təhlükə yaratmır.</p>
                        <p><strong>Trek (yönləndirici)</strong>— Kupe dolablarda istifadə olunan xüsusi relslərdir. Həmin relslər vasitəsilə kupe—dolabın diyircəklər üzərində yerləşdirilmiş qapıları hərəkət edir, açılıb bağlanır.</p>
                        <p><strong>Vitraj</strong>— Fransız dilində — şüşələmə deməkdir. Latınca "vitrum" — şüşə anlamına gəlir. Rəngli şüşədən və ya digər işıq keçirən materialdan hazırlanmış dekorativ incəsənət əsəridir.  Adətən vitrajlardan pəncərələr, şüşəli qapılar, şəffaf arakəsmələr üçün istifadə edilir. Vitrajdan keçən işıq şüaları vitrajın rəngini alır və interyerdə xüsusi emosional abı hava yaradır.</p>



                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

