* {
    src: url(../font/Poppins-SemiBold.ttf);
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    a{ 
        text-decoration: none;
        
    }
    li{
        list-style: none;
    }
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header-top {
    background-color: #eee;
    .logo {
        width: 200px;
        display: flex;
        justify-content: center;
        
        img {
            margin-top: 0.1rem;
            width: 7.3rem;
        }
    }
    display: flex;
    align-items: center;
    height: 2.8rem;
    i {
        margin-left: 1rem;
        font-size: 1rem;
    }
    .call {
        height: 100%;
        display: flex;
        align-items: center;
        span {
            font-size: 20px;
            font-weight: 700;
            color: black;
        }
    }
    .header-icons {
        display: flex;
        justify-content: end;
        padding-right: 1rem;
        align-items: center;
        height: 100%;

        a {
            text-decoration: none;
        }
        i {
            font-size: 1.1rem;
            margin-left: 1.56rem;
        }
        i:hover {
            transform: scale(1.2);
        }
        img {
            margin-top: -0.3rem;
            width: 1.2rem;
            margin-left: 1.5rem;
        }
        .fa-caret-down {
            font-size: 0.9rem;
            color: black;
        }
        //flag dropdown
        #navbarDarkDropdownMenuLink {
            color: black !important;
        }
        .language-menu {
            margin-left: -5rem !important;
            padding: 0%;
            li {
                a {
                    height: 2.2rem;
                    img {
                        margin-left: 5%;
                        padding: 0%;
                    }
                    padding: 0%;
                    color: black;
                }
            }
        }
    }
}

.navbar-class {
    top: 0% !important;
    position: fixed !important;
    width: 100%;
    z-index: 99999889 !important;
    overflow:hidden;
}
.header-bottom {
   
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #df2027;
    .kataloq {
        background-color: white;
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            color: black;
        }
        padding: 12px 20px 12px 13px;
        font-weight: 500;
        font-size: 16px;
        i {
            margin-right: 0.3rem;
        }
        width: 200px;
    }
    .category-menu {
        
        width: 100%;
        #category-menu-ul {
            height: 367px;
            width: 200px;
            box-shadow: 0px 0px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            display: block;
            background: #fff none repeat scroll 0 0;
            border-radius: 0 0 5px 5px;
            position: absolute;
            padding: 0%;
            margin: 0%;
            z-index: 9999999 !important;
            .category-li {
                list-style: none;
                cursor: pointer;
                height: 46.52px;
                border-bottom: 1px solid #eee;
                a {
                    text-decoration: none;
                    color: #222;
                    font-size: 14px;
                }

                display: flex;
                align-items: center;
                i {
                    margin-right: 0.4rem;
                    font-size: 0.55rem;
                    margin-left: 0.5rem;
                    opacity: 0.8;
                }
                list-style: none;

                .sub-menu {
                    border-bottom: 3px solid #df2027;
                    visibility: hidden;
                    width: 400px;
                    padding: 20px;
                    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0 / 10%);
                    z-index: 9;
                    left: 100%;
                    position: absolute;
                    top: 0 !important;
                    background: #fff;
                    min-height: 367px;
                    ul {
                        padding: 0%;
                        li {
                            list-style: none;
                            padding: 0%;
                            
                            a {
                                position: relative;
                                display: inline-block;
                                color: #5a5a5a;
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 400;
                                padding: 12px 3px 5px 3px;
                                border-bottom: none;
                                i{
                                    opacity: 1;
                                    font-weight: 900;
                                    font-size: 0.7rem;
                                    color: black;
                                }
                            }
                            a::after{
                                content: "";
                                width: 0%;
                                transition: ease-in-out 0.3s;
                                bottom: 10%;
                                left: 12%;
                                height: 1px;
                                background-color: black;
                                position: absolute;
                            }
                            a:hover::after{
                                content: "";
                                   
                                width: 100%;
                                bottom: 10%;
                                left: 12%;
                                height: 1px;
                                background-color: black;
                                position: absolute;
                            }
                        }
                    }
                }
            }
            @keyframes main {
                0% {
                  width: 320px;
                }
                100% {
                  width: 700px;
                }
            }
            .category-li:hover {
                .sub-menu{
                    animation: main 0.6s;
                    visibility: visible;
                }
                background-color: #f5f7fa;
                a {
                    color: #df2027;
                }
            }
            .sub-menu:hover{
                width: 700px;
            }
        }
    }
    // menu
    .menu {
        height: 100%;
        margin-left: -7%;
        #menu-list {
            margin-left: -1.9rem;
            display: flex;
            height: 100%;
            display: flex;
            align-items: center;
            li {
                list-style: none;
                margin-left: 1.2rem;
                a {
                    transition: ease-in-out 0.1s;
                    text-decoration: none;
                    color: #ffffff;
                    display: block;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.8px;
                    font-weight: 500;
                }
                a:hover {
                    color: black;
                }
            }
        }
    }
    //search
    .search {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-left: 10px;
        position: relative;
        .search-form {
            
            padding: 0%;
            margin: 0%;
            display: flex;
            justify-content: end;
            align-items: center;
            input {
                border-radius: 0.2rem;
                width: 18rem !important;
                height: 33px;
                border: transparent;
                outline: none;
                border: 0.2rem;
                padding: 0.7rem;
            }

            input::placeholder {
                font-size: 0.9rem;
                font-weight: 400;
            }
            .col-xl-2 {
                padding: 0%;
            }
            i {
                width: 2.7rem !important;
                margin-left: -0.5rem;
                height: 33px;
                border: none;
                border-radius: 0.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                color: #737373;
            }
            i:hover {
                color: black;
                cursor: pointer;
                background-color: #bdb8b8;
            }
        }
        .search-neticeler{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: white;
            width: 350px;
            height: 100%;
            position: absolute;
            right: 0%;
            top: 100%;
            z-index: 99;
            .col-xl-7{
                padding: 0%;
                display: flex;
                align-items: center;
                p{
                    margin: 0%;
                    margin-left: 0.7rem;
                    a{
                        color: black !important;
                    }
                }
            }
            
            .col-xl-3{
                display: flex;
                align-items: center;
                
            }
        }
    }
    //right
    .dropdown {
        
        .nav-link {
            color: white;
        }
    }
    .dropdown-menu {
        
        margin-left: -5rem !important;
        padding: 0%;
        .dropdown-item:hover {
            border-radius: 0.2rem;
            color: red;
        }
        .dropdown-item:focus{
            background-color: white !important;
        }
    }

    .right {
        padding: 0%;

        display: flex;
        align-items: center;
        .love {
            margin-left: 1rem;
            i {
                color: white;
                font-size: 1.4rem;
            }
        }
        
    }
}
.sebet {
    position: relative;
    margin-left: 0.8rem;
    img {
        position: relative;
        width: 35px !important;
        margin-right: 1rem;
    }
    span {
        color: #1f1f1f;
        background-color: #ffffff;
        font-size: 11px;
        font-weight: 500;
        line-height: 17px;
        position: absolute;
        width: 17px;
        height: 17px;
        right: 0.8rem;
        top: 0;
        text-align: center;
        border-radius: 50%;
    }
    .sebet-class{
        display: block !important;
    }
    .sebet-list{
        position: absolute;
        display: none;
        min-height: 5rem;
        width: 20rem;
        background-color: white;
        z-index: 999;
        top: 123%;
        right: -80%;
        .container{
            width: 100% !important;
        }
        .sebet-item{
            margin-top: 1rem;
            hr{
                opacity: 0.1;
                margin-top: -0.6rem;
            }
            .item-img{
                display: flex;
                justify-content: center;
                width: 100% !important;
                img{
                   width: 86px !important;
                   height: 46px !important;
                }
            }
            .price{
                display: flex;
                .item-price{
                    margin-left: 0.3rem;
                    font-weight: 500;
                    color: #4f5458;
                }
            }
            .col-xl-5{
                margin: 0%;
                padding: 0%;
            }
            .col-xl-6{
                padding: 0%;
                margin: 0%;
            }
            .col-xl-1{
                margin: 0%;
                padding: 0%;
            }
            h4{
                width: 95%;
                padding: 0%;
                margin: 0%;
                font-size: 15px;
                letter-spacing: -.015em;
                font-weight: 400;
                line-height: 1.2;
        font-size: 15px;
        color: #5a646d;
        margin-bottom: 5px;
            }
            i{
                font-size: 0.9rem;
                color: #fa0000;
            }
        }
        .sebet-footer{
            .mebleg-test{
                display: flex;
                justify-content: start;
            }
            .mebleg{
                display: flex;
                justify-content: end;
            }
            a{
                width: 8rem;
                font-size: 0.8rem;
                margin-bottom: 1rem;
            }
        }
       
    }
}
.sebet:hover{
    .sebet-list{
        display: block !important;
    }
}
.sebet-list:hover{
    display: block !important;
}

//mobil version
.header-mobil{
    
    z-index: 99;
    height: 3.6rem;
    display: flex;
    align-items: center;
    background-color: #df2027;
    max-width: 100%;
    .col-lg-1{
        display: flex;
        align-items: center;
    }
    .menu-icon{

        display: flex;
        align-items: center;
        cursor: pointer;
            color: white;
        height: 2.2rem;
        width: 2.5rem;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.3rem;
    }
    .col-lg-2{
        display: flex;
        align-items: center;
    }
    #logo{
        margin-left: -1rem;
        display: flex;
       
    }
    img{
        
        margin-left: -0.5rem;
        width: 6.4rem;
    }
    
   .right{
       
       z-index: 99;
       height: 100%;
       max-width: 100%;
       display: flex;
       justify-content: end;
       align-items: center;
       .search-class{
           visibility: visible !important;
       }
       .search{
           position: relative;
           display: flex;
           justify-content: center;
        #search-1{
            display: flex;
            align-items: center;
            .fa-magnifying-glass{
                visibility: hidden;
            }
            .fa-xmark{
                visibility: hidden;
             position: absolute;
         }
        }
        .search-neticeler{
            background-color: white;
            width: 350px;
            height: 100%;
            position: absolute;
            
            top: 100%;
            z-index: 9999;
            .col-xl-7{
                padding: 0%;
                display: flex;
                align-items: center;
                p{
                    margin: 0%;
                    margin-left: 0.7rem;
                   
                }
                
            }
            
            .col-xl-3{
                display: flex;
                align-items: center;
                
            }
        }
       }
       
      
    i{
        color: white;
        font-size: 20px;
        margin-right: 1rem;
    }
   #navbarDarkDropdownMenuLink{
       margin-right: 1rem;
       color: white;
       .fa-user{
           margin-right: 0;
       }
   }
   .dropdown-toggle::after{
       display: none;
   }
   .dropdown {
    .nav-link {
        color: white;
    }
}
.dropdown-menu {
    margin-left: -8.6rem !important;
    padding: 0%;
    .dropdown-item:hover {
        border-radius: 0.2rem;
        color: red;
    }
}
   }
  
 
}
.accordion-class{
    background-color: #df2027 !important;
    color: white !important ;
    i{
        transform: rotate(90deg);
    }

}
.left-menu-class{
    visibility: visible !important;
    left: 0% !important;
}
.left-menu{
    transform: translate(-100%);
    transition: ease-in-out 0.7s;
           position: fixed !important;
           height: 100%;
 top: 0;
 height: 700px;
 bottom: 0;
 width: 100%;
 max-width: 280px;
 visibility: hidden;
 position: fixed;
 z-index: 99999;
 overflow: hidden;
 overflow-y: auto;
 background-color: white;
 
    .menu-closed{
        display: flex;
        justify-content: end;
        align-items: center;
        height: 2.9rem;
        background-color: #df2027;
        width: 100%;
        i{
            cursor: pointer;
            color: white;
            font-size: 1.5rem;
            margin-right: 1rem;
        }
        
    }
    .accordion-button{
     border-radius: 0%;
     display: flex;
     justify-content: space-between;
     background-color: white;
     i{
         font-size: 0.6rem;
     }
 }
 .accordion-button{
     height: 3rem;
  font-weight: 500;
  color: #000;
  font-size: 14px;
     outline: none !important;
     color: black ;
     border: none !important;
 }
 .accordion-item{
     border: transparent !important;
 }
.accordion-button::after{
    display: none;
}
.accordion-button:focus{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.accordion-button:hover{
  
    background-color: #df2027;
    color: white !important;
}
.accordion-body{
 padding: 0%;
}
.accordion-ul{
   
 margin: 0%;
padding: 0%;
li{
  width: 100%;
  cursor: pointer;
  list-style: none;
  height: 2.5rem;
  display: flex;
  align-items: center;
  a{
      margin-left: 1.2rem;
      text-decoration: none;
      color: #000;
  }
}
li:hover{
  background-color: #dfd9d9;
  a{
      color: #df2027;
  }
}
}
.diger-sehifeler{
 ul{
     padding: 0%;
     li{
         cursor: pointer;
         list-style: none;
         height: 2.5rem;
         display: flex;
         align-items: center;
         a{
             margin-left: 1.2rem;
             text-decoration: none;
             color: #000;
         }
     }
     li:hover{
         background-color: #dfd9d9;
     }
 }
}
.icons{
 display: flex;
 margin-top: -0.7rem;
 margin-left: 0.8rem;
 height: 100%;
 margin-bottom: 5.5rem;
 a{
     text-decoration: none;
 }
 i{
     border-radius: 50%;
     height: 1.8rem;
     width: 1.8rem;
     margin-left: 0.3rem;
     background-color: #df2027;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
 }
}
}
#down1{
    color: black;
    font-size: 0.8rem;
    margin-left: 0.6rem;
    margin-right: -0.2rem;
}
.language{
    img{
        width: 1.5rem;
        margin-left: 2%;
    
        .language-menu {
            margin-left: -5rem !important;
            padding: 0%;
            li {
                a {
                    height: 2.2rem;
                    img {
                        width: 1rem;
                        margin-left: 5%;
                        padding: 0%;
                    }
                    padding: 0%;
                    color: black;
                }
            }
        }
    }
    
}
.body-overlay{
    opacity: 0;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    bottom: 0%;
    overflow: hidden;
    z-index: 9909;
    background-color: #000;
    transition: all .8s ease;
    visibility: hidden;
}
.body-overlay-class{
    visibility: visible !important;
    opacity: .7;
}
