.sifaris{
    padding-top: 1rem;
    a{
        color: white;
        text-decoration: none;
    }
    .merhele{
        height: 3rem;
        background-color: #333;
        text-align: center;
        color: white;
        margin-bottom: 1rem;
    }
}