@import "./mediaqueries";
@import "./header";
@import "./main";
@import "./footer";
@import "./register";
@import "./komekci-menu";
@import "./hesab";
@import "./arzu-siyahisi";
@import "./sebet";
@import "./mehsul";
@import "./kampanya";
@import "./detail";
@import "./magazalar";
@import "./sifarisi-tamamla";
@import "./error";